
/* RESPONSIVENESS */

@media screen and (max-width: 1080px) {

    .location {
        margin-top: 14px;
    }

    .data-stream {
        div {
           &:nth-child(n+15) {
            display: none;
            } 
        }
    }
}


@media screen and (max-width: 880px) {
  
    .sidebar {
        display: none;
      }

    .forecast-card {
        margin-left: 0px !important;
    }

    .forecast {
        margin-top: 7px !important;
    }

    .location {
        margin-top: 7px !important;
    }


    .info-container {
        margin-left: 0px !important;
        margin-bottom: 7px;

        &:first-of-type {
            margin-right: 7px;
        }

    }

    .bar-top {
        
        &:nth-of-type(3) {
            display: none;
        }
    }

    .data-stream {
        div {
            &:nth-child(n+12) {
            display: none;
            } 
        }
    }
}

@media screen and (max-width: 750px) {

    .panel-top-left {
      display: none;
    }

    .panel-bottom-left {
      display: none;
    }

    .top-content {
        justify-content: center;
    }

    .bottom-content {
        justify-content: center;
    }

    .app-container {
        margin: 15px;
    }

    .bar-top {
      display: none;
    }

    .bar-bottom-2 {
      width: 100%;
    }
  
    .data-stream {
      margin-top: 0px;
      margin-left: 0px;
  
        div {
            &:nth-child(n+12) {
            display: none;
            } 
        }
    }
  
    .data-bottom {
        margin-bottom: 0px!important;
    }
}

@media screen and (max-width: 650px) {

    .info-container {
        &:first-of-type {
            margin-right: 0px!important;
        }
    }
}

@media screen and (max-width: 640px) {

    .conditions {
        margin-top: 7px;
    }
}

@media screen and (max-width: 580px) {

    h1 {
        display: none;
    }

    .app-container {
        margin: 10px;
    }

    .bar-top {
        display: none!important;
    }

    .search-bar {
        margin: 0 auto!important;
        padding-bottom: 7px;

        input {
            width: 80%;
        }
    }
}


@media screen and (max-width: 500px) {
   
    .data-stream {
        margin-top: 0px;
        margin-left: 0px;
    
        div {
            &:nth-child(n+7) {
             display: none;
            } 
        }    
    }   
}